# Server Network Config
PORT=5000
HOST=0.0.0.0

# Redis Connection (Optional / Distributed Queue)
REDIS_HOST=localhost
REDIS_PORT=6379

# Paths to Heavy Binaries
FFMPEG_PATH=./bin/ffmpeg/ffmpeg.exe
FFPROBE_PATH=./bin/ffmpeg/ffprobe.exe
YTDLP_PATH=./bin/ytdlp/yt-dlp.exe

# Storage Vault Export Directory
EXPORT_VAULT_DIR=D:\Downloads\CreatorOS\BatchVault
